<!DOCTYPE html></body>

<html>
    <head>
        <title>Liên hệ - Công ty tổ chức Sự kiện Tuấn Việt Media</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <link rel="stylesheet" href="css/lienhe.css"/>
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <script src="Js/jquery-3.3.1.min.js" type="text/javascript"></script>
        <script src="https://kit.fontawesome.com/08bdfda0dd.js"></script>

     </head>
    <body>
        	<div class="header"><!--  start header-->
	        	<div class="row">
        			<div class="col-md-2 logo">
        				<img src="img/logo.png">
        			</div>
        			<div class="col-md-10 top_nav">
        				<ul class="right">
        					<li> <a href="#">Trang chủ</a> </li>
        					<li> <a href="vechungtoi.html">Về chúng tôi</a> </li>
        					<li> <a href="tochucsukien.html">Tổ chức sự kiện</a> </li>
        					<li> <a href="#">Thiết bị sự kiện</a> </li>
        					<li> <a href="#">Nhân sự sự kiện</a> </li>
        					<li> <a href="tintuc.html">Tin tức</a> </li>
        					<li> <a href="#">Our team</a> </li>
        					<li> <a class="active" href="lienhe.html">Liên hệ</a> </li>
        				</ul>
        				<div style="clear: both"></div>
        			</div>
        		</div>
	        </div> <!--  finish header-->
        	<div class="main"> <!--  start main-->
        		<div class="row">
        			<div class="row">
        				<div class="col-md-12">
		        			<div class="title">
		        				<h1>Liên hệ</h1> <!--  title page-->
		        				<div class="is-divider">
		        				</div>
			        		</div>
			        	</div>
			        </div>
	        		<div class="row"> <!--  start slide-->
	        			<div class="col-md-12">
			        		<div class="slide">
			        			<img class="img-fluid mySlides" src="img/slide1.jpg">
								<img class= "img-fluid mySlides" src="img/slide2.jpg">
								<img class=" img-fluid mySlides" src="img/slide3.jpg">
								<button class="bton toright" onclick="plusDivs(-1)">&#10094;</button>
								<button class="bton toleft" onclick="plusDivs(+1)">&#10095;</button>
							</div>
						</div>
					</div> <!--  finish slide-->
					<div class=" row "> <!--  start main content -->
						<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 main-left"> <!--  start left content-->
					<span class="in-left">DANH MỤC DỊCH VỤ</span>
					<div class="menu-top-left">
						<ul>
							<li><i class="fas fa-star"></i><a href="#">Tổ chức Hội nghị cuối năm</a></li>
							<li><i class="fas fa-star"></i><a href="#">Tổ chức hội nghị khách hàng</a></li>
							<li><i class="fas fa-star"></i><a href="#">Lễ kỷ niệm thành lập công ty</a></li>
						</ul>
					</div> <!-- hết menu-top-left -->
					<div class="dropdown">
						<i class="fas fa-angle-right"></i>
					    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Thiết bị sự kiện <span class="caret"></span></button>
					    <ul class="dropdown-menu">
					      <li><a href="#">Bán và cho thuê khinh khí cầu</a></li>
					      <li><a href="#">Cổng hơi, rối hơi</a></li>
					      <li><a href="#">Cho thuê màn hình LED</a></li>
					      <li><a href="#">Bán và cho thuê nhà dù</a></li>
					      <li><a href="#">Nhà bạt, nhà giàn không gian</a></li>
					      <li><a href="#">Sân khấu sự kiện</a></li>
					      <li><a href="#">Bàn ghế, chân quỳ, Benquyt</a></li>
					      <li><a href="#">Dàn dựng, âm thanh, ánh sáng</a></li>
					    </ul>
				  </div> <!-- hết dropdown -->
				  <div class="dropdown">
				  		<i class="fas fa-angle-right"></i>
					    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Nhân sự sự kiện <span class="caret"></span></button>
					    <ul class="dropdown-menu">
					      <li><a href="#">Người mẫu, Model</a></li>
					      <li><a href="#">Cung cấp ban nhạc</a></li>
					      <li><a href="#">Cung cấp ca sĩ, nhạc sĩ</a></li>
					      <li><a href="#">Lân sư rồng</a></li>
					      <li><a href="#">Vũ đoàn, nhóm múa</a></li>
					      <li><a href="#">PG, PB</a></li>
					      <li><a href="#">MC dẫn chương trình</a></li>
					    </ul>
				  </div> <!-- hết dropdown -->
				  <div class="dropdown">
				  		<i class="fas fa-angle-right"></i>
					    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Tổ chức sự kiện <span class="caret"></span></button>
					    <ul class="dropdown-menu">
					      <li><a href="#">Tiệc cuối năm, tất niên</a></li>
					      <li><a href="#">Lễ cưới, wedding</a></li>
					      <li><a href="#">Lễ khởi công, động thổ</a></li>
					      <li><a href="#">Lễ đón nhận giải thưởng</a></li>
					      <li><a href="#">Hội nghị khách hàng</a></li>
					      <li><a href="#">Lễ ra mắt sản phẩm mới</a></li>
					      <li><a href="#">Lễ kỷ niệm</a></li>
					      <li><a href="#">Tổ chức lễ khánh thành</a></li>
					    </ul>
				  </div> <!-- hết dropdown -->
				  <div class="tintuc-sukien">
				  	<div class="title-tintuc">TIN TỨC & SỰ KIỆN</div>
					<div class="content-tintuc">
						<ul>
							<li>
								<a href="#"><img src="img/tintuc1.jpg" alt="">
								<p>LỄ ĐÓN BẰNG CÔNG NHẬN THCS LÁNG HẠ ĐẠT CHUẨN QUỐC GIA</p>
								</a>
							</li>
							<li>
								<a href="#"><img src="img/tintuc1.jpg" alt="">
								<p>LỄ ĐÓN BẰNG CÔNG NHẬN THCS LÁNG HẠ ĐẠT CHUẨN QUỐC GIA</p>
								</a>
							</li>
							<li>
								<a href="#"><img src="img/tintuc1.jpg" alt="">
								<p>LỄ ĐÓN BẰNG CÔNG NHẬN THCS LÁNG HẠ ĐẠT CHUẨN QUỐC GIA</p>
								</a>
							</li>
							<li>
								<a href="#"><img src="img/tintuc1.jpg" alt="">
								<p>LỄ ĐÓN BẰNG CÔNG NHẬN THCS LÁNG HẠ ĐẠT CHUẨN QUỐC GIA</p>
								</a>
							</li>
							<li>
								<a href="#"><img src="img/tintuc1.jpg" alt="">
								<p>LỄ ĐÓN BẰNG CÔNG NHẬN THCS LÁNG HẠ ĐẠT CHUẨN QUỐC GIA</p>
								</a>
							</li>
							<li>
								<a href="#"><img src="img/tintuc1.jpg" alt="">
								<p>LỄ ĐÓN BẰNG CÔNG NHẬN THCS LÁNG HẠ ĐẠT CHUẨN QUỐC GIA</p>
								</a>
							</li>
							<li>
								<a href="#"><img src="img/tintuc1.jpg" alt="">
								<p>LỄ ĐÓN BẰNG CÔNG NHẬN THCS LÁNG HẠ ĐẠT CHUẨN QUỐC GIA</p>
								</a>
							</li>
							<li>
								<a href="#"><img src="img/tintuc1.jpg" alt="">
								<p>LỄ ĐÓN BẰNG CÔNG NHẬN THCS LÁNG HẠ ĐẠT CHUẨN QUỐC GIA</p>
								</a>
							</li>
							<li>
								<a href="#"><img src="img/tintuc1.jpg" alt="">
								<p>LỄ ĐÓN BẰNG CÔNG NHẬN THCS LÁNG HẠ ĐẠT CHUẨN QUỐC GIA</p>
								</a>
							</li>

						</ul>
					</div> <!-- hết content-tintuc -->
				  </div> <!-- hết tintuc-sukien -->

				</div> <!-- hết main-left -->
						<div class="col-md-9 col-xs-12 rightcont"> <!--  start right content-->
							<p> ” Chúng tôi luôn mong muốn được lắng nghe từ quý khách. Xin vui lòng liên hệ qua <b class="strong">SDT HOTLINE </b>: <b>0985.444.859 / 0964.797.202 </b> hoặc gửi thông tin <b class="strong"> báo giá qua Mail </b> : sukientuanviet@gmail.com để nhận được phản hồi và tư vấn sớm nhất.”</p>
							<p> <b class="strong">ĐỊA CHỈ VĂN PHÒNG </b> </p>
							<p><b>CƠ SỞ 1</b>: Phòng 205, tòa 17T5, Hoàng Đạo Thúy, Thanh Xuân, Hà Nội </p>
							<p><b>CƠ SỞ 1</b>: Phòng 205, tòa 17T5, Hoàng Đạo Thúy, Thanh Xuân, Hà Nội </p>
							<p><b>TEL</b>: 0985.444.859 / <b>ZALO</b> : 0964.797.202</p>

							<p><b>HOTLINE</b> : 0985.444.859</p>

							<p><b>EMAIL</b> : sukientuanviet@gmail.com</p>
							<p>
								Giờ mở cửa: 8:00 – 17:30 <br>
								Ngày mở cửa: Từ thứ 2 đến thứ 7
							</p>
							<p><b class="strong">ĐỊA CHỈ KHO XƯỞNG TẠI HÀ NỘI</b></p>
							<p> Quận <b>THANH XUÂN </b>: Số 28 ngõ 93 HOÀNG VĂN THÁI</p>
							<p> Quận <b>THANH XUÂN </b>: Số 28 ngõ 93 HOÀNG VĂN THÁI</p>
							<p> Quận <b>THANH XUÂN </b>: Số 28 ngõ 93 HOÀNG VĂN THÁI</p>
							<p> Quận <b>THANH XUÂN </b>: Số 28 ngõ 93 HOÀNG VĂN THÁI</p>
							<p> Quận <b>THANH XUÂN </b>: Số 28 ngõ 93 HOÀNG VĂN THÁI</p>
							<p> Quận <b>THANH XUÂN </b>: Số 28 ngõ 93 HOÀNG VĂN THÁI</p>


						</div> <!--  finish rightcont-->

					</div>
				</div>
        	</div>
        	<div class="footer"> <!--  start footer-->
        		<div class="row">
        			<div class="col-md-3 foot"> <!--  start foot1-->
        				<div class="tieude">
        					<span> THIẾT BỊ SỰ KIỆN</span>
        				</div>
        				<ul>
        					<li><a href="#">Cho thuê nhà dù sự kiện</a></li>
        					<li><a href="#">Cho thuê nhà giàn không gian, nhà bạt đám cưới</a></li>
        					<li><a href="#">Cho thuê sân khấu, âm thanh ánh sáng</a></li>
        					<li><a href="#">Cho thuê sân khấu, âm thanh ánh sáng</a></li>
        					<li><a href="#">Cho thuê sân khấu, âm thanh ánh sáng</a></li>
        				</ul>
        			</div>   <!--  finish foot1-->
        			<div class="col-md-3 foot"> <!--  start foot1-->
        				<div class="tieude">
        					<span> NHÂN SỰ - THIẾT BỊ SỰ KIỆN</span>
        				</div>
        				<ul>
        					<li><a href="#">Cho thuê khung Backrop</a></li>
        					<li><a href="#">Cho thuê gian hàng hội chợ, triển lãm</a></li>
        					<li><a href="#">Cho thuê khung Backrop</a></li>
        					<li><a href="#">Cho thuê gian hàng hội chợ, triển lãm</a></li>
        					<li><a href="#">Cho thuê khung Backrop</a></li>
        				</ul>
        			</div><!--  finish foot1-->
        			<div class="col-md-3 foot"> <!--  start foot1-->
        				<div class="tieude">
        					<span> TỔ CHỨC SỰ KIỆN</span>
        				</div>
        				<ul>
        					<li><a href="#">Cho thuê nhà dù sự kiện</a></li>
        					<li><a href="#">Tổ chức tiệc cuối năm, tất niên</a></li>
        					<li><a href="#">Cho thuê nhà dù sự kiện</a></li>
        					<li><a href="#">Tổ chức tiệc cuối năm, tất niên</a></li>
        					<li><a href="#">Tổ chức tiệc cuối năm, tất niên</a></li>
        				</ul>
        			</div>   <!--  finish foot1-->
        			<div class="col-md-3 foot"> <!--  start foot1-->
        				<div class="tieude">
        					<span>THÔNG TIN LIÊN HỆ</span>
        				</div>
        				<p>
        					Công ty Cổ phần Truyền thông Talent Wins
        				</p>
        				<p>Địa chỉ: 43 Phạm Văn Đồng, Hà Nội</p>
        				<p>Kho hàng :43 Phạm Văn Đồng, Hà Nội</p>
        				<p>SĐT: 0123456789 / 012346789</p>
        				<p>Email: abc@gmail.com</p>
        				<p>Website: abcxyz.com</p>
        			</div>
        		</div>    <!--  finish foot1-->

        		<div class=" bottom-footer">
        			<div class="col-md-12">
        				Thiết kế và duy trì bởi TALENT WINS
        			</div>

        		</div>
        	</div>
        </div>
        	<section class="back-to-top">
        		<div class="back-to-top-button">
        			<i class="fas fa-arrow-up"></i>
        		</div>
			</section>

       	<script src="Js/backtotop.js" type="text/javascript"></script>
			<script src="Js/slide.js" type="text/javascript"></script>


    </body>
</html>

