<!DOCTYPE html>

<html>
    <head>
        <title>Về chúng tôi - Công ty tổ chức Sự kiện Tuấn Việt Media</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> 

        <link rel="stylesheet" href="css/lienhe.css"/>
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <script src="Js/jquery-3.3.1.min.js" type="text/javascript"></script>
        <script src="https://kit.fontawesome.com/08bdfda0dd.js"></script>
     </head>
    <body>
        	<div class="header">
	        		<div class="row">
	        			<div class="col-md-2 logo">
	        				<img class="img-fluid" src="img/logo.png">
	        			</div>
	        			<div class="col-md-10 top_nav">
	        				<ul class="right">
	        					<li> <a href="#">Trang chủ</a> </li>
	        					<li> <a class="active" href="vechungtoi.html">Về chúng tôi</a> </li>
	        					<li> <a href="tochucsukien.html">Tổ chức sự kiện</a> </li>
	        					<li> <a href="#">Thiết bị sự kiện</a> </li>
	        					<li> <a href="#">Nhân sự sự kiện</a> </li>
	        					<li> <a href="tintuc.html">Tin tức</a> </li>
	        					<li> <a href="#">Our team</a> </li>
	        					<li> <a href="lienhe.html">Liên hệ</a> </li>
	        				</ul>
	        				<div style="clear: both"></div>
	        			</div>
	        		</div>
	        	</div>
	        </div>
        	<div class="main">
        		<div class="row">
					<div class=" row ">
						<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 main-left">
					<span class="in-left">DANH MỤC DỊCH VỤ</span>
					<div class="menu-top-left">
						<ul>
							<li><i class="fas fa-star"></i><a href="#">Tổ chức Hội nghị cuối năm</a></li>
							<li><i class="fas fa-star"></i><a href="#">Tổ chức hội nghị khách hàng</a></li>
							<li><i class="fas fa-star"></i><a href="#">Lễ kỷ niệm thành lập công ty</a></li>
						</ul>
					</div> <!-- hết menu-top-left -->
					<div class="dropdown">
						<i class="fas fa-angle-right"></i>
					    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Thiết bị sự kiện <span class="caret"></span></button>
					    <ul class="dropdown-menu">
					      <li><a href="#">Bán và cho thuê khinh khí cầu</a></li>
					      <li><a href="#">Cổng hơi, rối hơi</a></li>
					      <li><a href="#">Cho thuê màn hình LED</a></li>				     
					      <li><a href="#">Bán và cho thuê nhà dù</a></li>
					      <li><a href="#">Nhà bạt, nhà giàn không gian</a></li>
					      <li><a href="#">Sân khấu sự kiện</a></li>
					      <li><a href="#">Bàn ghế, chân quỳ, Benquyt</a></li>
					      <li><a href="#">Dàn dựng, âm thanh, ánh sáng</a></li>
					    </ul>
				  </div> <!-- hết dropdown -->
				  <div class="dropdown">
				  		<i class="fas fa-angle-right"></i>
					    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Nhân sự sự kiện <span class="caret"></span></button>
					    <ul class="dropdown-menu">
					      <li><a href="#">Người mẫu, Model</a></li>
					      <li><a href="#">Cung cấp ban nhạc</a></li>
					      <li><a href="#">Cung cấp ca sĩ, nhạc sĩ</a></li>				     
					      <li><a href="#">Lân sư rồng</a></li>
					      <li><a href="#">Vũ đoàn, nhóm múa</a></li>
					      <li><a href="#">PG, PB</a></li>
					      <li><a href="#">MC dẫn chương trình</a></li>
					    </ul>
				  </div> <!-- hết dropdown -->
				  <div class="dropdown">
				  		<i class="fas fa-angle-right"></i>
					    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Tổ chức sự kiện <span class="caret"></span></button>
					    <ul class="dropdown-menu">
					      <li><a href="#">Tiệc cuối năm, tất niên</a></li>
					      <li><a href="#">Lễ cưới, wedding</a></li>
					      <li><a href="#">Lễ khởi công, động thổ</a></li>				     
					      <li><a href="#">Lễ đón nhận giải thưởng</a></li>
					      <li><a href="#">Hội nghị khách hàng</a></li>
					      <li><a href="#">Lễ ra mắt sản phẩm mới</a></li>
					      <li><a href="#">Lễ kỷ niệm</a></li>
					      <li><a href="#">Tổ chức lễ khánh thành</a></li>
					    </ul>
				  </div> <!-- hết dropdown -->
				  <div class="tintuc-sukien">
				  	<div class="title-tintuc">TIN TỨC & SỰ KIỆN</div>
					<div class="content-tintuc">
						<ul>
							<li>
								<a href="#"><img src="img/tintuc1.jpg" alt="">
								LỄ ĐÓN BẰNG CÔNG NHẬN THCS LÁNG HẠ ĐẠT CHUẨN QUỐC GIA
								</a>
							</li>
							<li>
								<a href="#"><img src="img/tintuc1.jpg" alt="">
								LỄ ĐÓN BẰNG CÔNG NHẬN THCS LÁNG HẠ ĐẠT CHUẨN QUỐC GIA
								</a>
							</li>
							<li>
								<a href="#"><img src="img/tintuc1.jpg" alt="">
								LỄ ĐÓN BẰNG CÔNG NHẬN THCS LÁNG HẠ ĐẠT CHUẨN QUỐC GIA
								</a>
							</li>
							<li>
								<a href="#"><img src="img/tintuc1.jpg" alt="">
								LỄ ĐÓN BẰNG CÔNG NHẬN THCS LÁNG HẠ ĐẠT CHUẨN QUỐC GIA
								</a>
							</li>
							<li>
								<a href="#"><img src="img/tintuc1.jpg" alt="">
								LỄ ĐÓN BẰNG CÔNG NHẬN THCS LÁNG HẠ ĐẠT CHUẨN QUỐC GIA
								</a>
							</li>
							<li>
								<a href="#"><img src="img/tintuc1.jpg" alt="">
								LỄ ĐÓN BẰNG CÔNG NHẬN THCS LÁNG HẠ ĐẠT CHUẨN QUỐC GIA
								</a>
							</li>
							<li>
								<a href="#"><img src="img/tintuc1.jpg" alt="">
								LỄ ĐÓN BẰNG CÔNG NHẬN THCS LÁNG HẠ ĐẠT CHUẨN QUỐC GIA
								</a>
							</li>
							<li>
								<a href="#"><img src="img/tintuc1.jpg" alt="">
								LỄ ĐÓN BẰNG CÔNG NHẬN THCS LÁNG HẠ ĐẠT CHUẨN QUỐC GIA
								</a>
							</li>
							<li>
								<a href="#"><img src="img/tintuc1.jpg" alt="">
								LỄ ĐÓN BẰNG CÔNG NHẬN THCS LÁNG HẠ ĐẠT CHUẨN QUỐC GIA
								</a>
							</li>
							
						</ul>
					</div> <!-- hết content-tintuc -->
				  </div> <!-- hết tintuc-sukien -->
				  
				</div> <!-- hết main-left -->						
						<div class="col-md-9 col-xs-12 rightcont">
							<p>Công ty Tổ Chức Sự Kiện Tuấn Việt được thành lập năm 2009. Đến nay Tuấn Việt là một doanh nghiệp hàng đầu trong lĩnh vực phục vụ Tổ Chức Sự Kiện & Cung Cấp Thiết Bị Sự Kiện.</p>
							<h1>CÔNG TY TỔ CHỨC SỰ Kiện</h1>
							<div class="content">
								<p><span><a href="#">Công ty tổ chức sự kiện </a></span>luôn đáp ứng được những yêu cầu công nghệ,kỹ thuật mới nhất, làm thỏa mãn những mọi yêu cầu khó tính nhất của khách hàng.. Với phương châm “Sáng tạo không giới hạn!” Chúng tôi sẵn sàng tạo ra sự đột phá về phong cách trong tổ chức các sự kiện cũng như các sản phẩm chúng tôi cung cấp. Là một nhà tổ chức sự kiện chuyên nghiệp: Uy tín và chất lượng dịch vụ là tiêu chí quan trọng nhất trong sản phẩm của chúng tôi. </p>
								<p>Chúng tôi luôn đáp ứng được những yêu cầu công nghệ,kỹ thuật mới nhất, làm thỏa mãn những mọi yêu cầu khó tính nhất của khách hàng.. Với phương châm “Sáng tạo không giới hạn!” Chúng tôi sẵn sàng tạo ra sự đột phá về phong cách trong tổ chức các sự kiện cũng như các sản phẩm chúng tôi cung cấp. Là một nhà <span><a href="#">tổ chức sự kiện </a></span>chuyên nghiệp: Uy tín và chất lượng dịch vụ là tiêu chí quan trọng nhất trong sản phẩm của chúng tôi.</p>
								<p>
									<a href="#"> <img  src="img/anh1.jpg"></a>
									<p class="caption-text">Giới thiệu công ty Tuấn Việt</p>
								</p>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged</p>
								<p><span class="red-text">CHÚNG TÔI CAM KẾT :</p>
								<p>+ Đem đến cho Quý khách hàng những dịch vụ tốt nhất</p>
								<p>+ Đem đến cho Quý khách hàng những sản phẩm vượt trội với giá thành cạnh tranh nhất Hà Nội</p>
								<p>+ Đem đến sự yên tâm và sự hài lòng cho Quý khách hàng</p>
								<p>+ Cam kết giao hàng đúng giờ , sản phẩm đúng chất lượng</p>
								<p>>>> Có thể bạn quan tâm đến dịch vụ : <span class="text-red"><a href="#">Cho thuê quạt công nghiệp</a>, <a href="#">thiết kế thi công backdrop </a>,<a href="#"> cho thuê bộ cắt băng khánh thành….</a></span></p>
								<p>
									<a href="#"> <img class="img-fluid" src="img/anh2.jpg"></a>
									<p class="caption-text"><a href="#">Tổ chức sự kiện :<a href="#">Tổ chức Lễ khai trương </a>, <a href="#">Tổ chức Lễ khai trương cửa hàng </a>, <a href="#">Tổ chức Lễ khởi công….</a></p>
								</p>
								<p>
									<a href="#"> <img class="img-fluid" src="img/anh3.jpg"></a>
									<p class="caption-text"> <a href="#">
									Cho thuê thiết bị sự kiện : <a href="#">Cho thuê quạt công nghiệp</a>, <a href="#">thiết kế thi công backdrop </a>,<a href="#"> cho thuê bộ cắt băng khánh thành….</a></p>
								</p>
								<p>
									<a href="#"> <img class="img-fluid" src="img/anh4.jpg"></a>
									<p class="caption-text"> <a href="#">
									Cho thuê thiết bị sự kiện : <a href="#">Cho thuê quạt công nghiệp</a>, <a href="#">thiết kế thi công backdrop </a>,<a href="#"> cho thuê bộ cắt băng khánh thành….</a></p>
								</p>
								<p>
									<a href="#"> <img class="img-fluid" src="img/anh2.jpg"></a>
									<p class="caption-text"> <a href="#">
									Cho thuê thiết bị sự kiện : <a href="#">Cho thuê quạt công nghiệp</a>, <a href="#">thiết kế thi công backdrop </a>,<a href="#"> cho thuê bộ cắt băng khánh thành….</a></p>
								</p>
								<p>
									<a href="#"> <img class="img-fluid" src="img/anh4.jpg"></a>
									<p class="caption-text"> <a href="#">
									Cho thuê thiết bị sự kiện : <a href="#">Cho thuê quạt công nghiệp</a>, <a href="#">thiết kế thi công backdrop </a>,<a href="#"> cho thuê bộ cắt băng khánh thành….</a></p>
								</p>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen </p>
								<p>Ngoài ra, chúng tôi còn cung cấp các loại thiết bị sự kiện phục vụ cho các chương trình sự kiện:</p>

								<p>+ Nhà bạt không gian với các khổ độ: 10m,12m, 15m, 20m, 24m 6m chiều dài không giới hạn.</p>

								<p>+Nhà bạt thường trụ tròn với các nhịp 4m hoặc 6m chiều dài không giới hạn.</p>

								<p>+Cho thuê bàn ghế: bàn ghế hội nghị, bàn ghế tiệc , ghế inox, ghế nhựa..</p>

								<p>+Cho thuê thảm trải, thảm lót</p>

								<p>+Cho thuê quạt công nghiệp, quạt phun sương</p>

								<p>+Cho thuê đoàn lân sư rồng</p>

								<p>+Cho thuê dù bạt</p>

								<p>+Cho thuê dù che sự kiện</p>

								<p>+Cho thuê cột inox …</p>

								<p><b>CÔNG TY CỔ PHẦN TRUYỀN THÔNG TUẤN VIỆT</b></p>

								<p>TEL: 0985.444.859 / 0964.797.202</p>

								<p>MST: 0105488539</p>

								<p>OFFICE: SỐ 2A NGÕ 190 NGUYỄN TRÃI, THANH XUÂN, HÀ NỘI</p>

								<p>WEBSITE: <span style="color: #FF0000;">http://abcxyz.com</span></p>
							</div>

						</div>
					</div>
						
					</div>
				</div>   

        	
        	<div class="footer">
        		<div class="row">
        			<div class="col-md-3 foot">
        				<div class="tieude">
        					<span> THIẾT BỊ SỰ KIỆN</span>
        				</div>
        				<ul>
        					<li><a href="#">Cho thuê nhà dù sự kiện</a></li>
        					<li><a href="#">Cho thuê nhà giàn không gian, nhà bạt đám cưới</a></li>
        					<li><a href="#">Cho thuê sân khấu, âm thanh ánh sáng</a></li>
        					<li><a href="#">Cho thuê sân khấu, âm thanh ánh sáng</a></li>
        					<li><a href="#">Cho thuê sân khấu, âm thanh ánh sáng</a></li>
        				</ul>
        			</div>
        			<div class="col-md-3 foot">
        				<div class="tieude">
        					<span> NHÂN SỰ - THIẾT BỊ SỰ KIỆN</span>
        				</div>
        				<ul>
        					<li><a href="#">Cho thuê khung Backrop</a></li>
        					<li><a href="#">Cho thuê gian hàng hội chợ, triển lãm</a></li>
        					<li><a href="#">Cho thuê khung Backrop</a></li>
        					<li><a href="#">Cho thuê gian hàng hội chợ, triển lãm</a></li>
        					<li><a href="#">Cho thuê khung Backrop</a></li>
        				</ul>
        			</div>
        			<div class="col-md-3 foot">
        				<div class="tieude">
        					<span> TỔ CHỨC SỰ KIỆN</span>
        				</div>
        				<ul>
        					<li><a href="#">Cho thuê nhà dù sự kiện</a></li>
        					<li><a href="#">Tổ chức tiệc cuối năm, tất niên</a></li>
        					<li><a href="#">Cho thuê nhà dù sự kiện</a></li>
        					<li><a href="#">Tổ chức tiệc cuối năm, tất niên</a></li>
        					<li><a href="#">Tổ chức tiệc cuối năm, tất niên</a></li>
        				</ul>
        			</div>
        			<div class="col-md-3 foot">
        				<div class="tieude">
        					<span>THÔNG TIN LIÊN HỆ</span>
        				</div>
        				<p>
        					Công ty Cổ phần Truyền thông Talent Wins
        				</p>
        				<p>Địa chỉ: 43 Phạm Văn Đồng, Hà Nội</p>
        				<p>Kho hàng :43 Phạm Văn Đồng, Hà Nội</p>
        				<p>SĐT: 0123456789 / 012346789</p>
        				<p>Email: abc@gmail.com</p>
        				<p>Website: abcxyz.com</p>
        			</div>
        		</div>
        	
        		<div class="bottom-footer">
        			<div class="col-md-12">
        				Thiết kế và duy trì bởi TALENT WINS
        			</div>
        			
        		</div>
        	</div>
        </div>
			<section class="back-to-top">
        		<div class="back-to-top-button">
        			<i class="fas fa-arrow-up"></i>
        		</div>
			</section>

       	<script src="Js/backtotop.js" type="text/javascript"></script>
        
    </body>
</html>

